.progress *:not([data-progress]) {
  margin: 5px 0;
  font-size: 14px;
}

.progress {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  box-sizing: border-box;
}

.progress [data-progress] {
  position: relative;
  height: 11px;
  border-radius: 20px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25) inset;
  margin: 5px 0 10px 0;
  overflow: hidden;
  background-color: #e0e0e0; /* Neutral background for progress bar */
}

.progress [data-progress]::after {
  content: "";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #3e3e3e; /* Bar color */
  width: 0;
  height: 100%;
  border-radius: 20px; /* Fixed single border-radius */
  box-sizing: border-box;
  font-size: 10px;
  color: white;
  padding: 0 5px;
  transition: width 1s ease-in-out; /* Smooth animation */
}

.progress [data-progress].animate-progress::after {
  content: attr(data-progress) "%"; /* Display percentage value */
  width: var(--animate-progress); /* Dynamically set width */
}

.disc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.disc img {
  display: block;
  margin: -100px auto 0 auto;
}

.disc .absolute {
  top: -15%;
   transform: translate(-50%, -50%);
}
