/* ./src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.container {
    padding: 0 8%;
    width: 100%;
    margin: 0 auto;
}
.shadow-top {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .new-button::before {
    content: '';
    width: 100%;
    height: 100%;
    background:#3e3e3e;
    color: white;
    position: absolute;
    z-index: -1;
    transform: translateY(100%);
    transition: all .2s ease;
}
.new-button:hover::before {
    transform: translateY(0px);
    color: white;
}
.new-button:hover {
    color: white;
}
.new-button {
    position: relative;
    overflow: hidden;
    padding: 10px 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3e3e3e;
    border-radius: 30px;
}

.box-skill {
  will-change: transform;
  transition: transform 0.3s ease;
  transform: perspective(300px) rotateX(0deg) rotateY(0deg);
}

.box-outer {
  visibility: visible;
  animation-duration: 1s;
  animation-name: fadeInUp;
}


.progress *:not([data-progress]) {
  margin: 5px 0;
  font-size: 14px;
}

.progress {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  box-sizing: border-box;
}

.progress [data-progress] {
  position: relative;
  height: 11px;
  border-radius: 20px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25) inset;
  margin: 5px 0 10px 0;
  overflow: hidden;
  background-color: #e0e0e0; /* Neutral background for progress bar */
}

.progress [data-progress]::after {
  content: "";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #3e3e3e; /* Bar color */
  width: 0;
  height: 100%;
  border-radius: 20px; /* Fixed single border-radius */
  box-sizing: border-box;
  font-size: 10px;
  color: white;
  padding: 0 5px;
  transition: width 1s ease-in-out; /* Smooth animation */
}

.progress [data-progress].animate-progress::after {
  content: attr(data-progress) "%"; /* Display percentage value */
  width: var(--animate-progress); /* Dynamically set width */
}

.disc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.disc img {
  display: block;
  margin: -100px auto 0 auto;
}

.disc .absolute {
  top: -15%;
   transform: translate(-50%, -50%);
}
